
.sav__navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: fixed;
  
    padding: 1.3rem 6rem;
    z-index: 10000;
  }
  
  .sav__navbar-bg {
    background-color: #658864;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
    transition: 800ms;
    
  }
  .sav__navbar-links {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  
  
  .sav__navbar-links_logo {
    margin-right: 2rem;
  }
  
  .sav__navbar-links_logo p {
    color: #8acf8a;
    border: #3d513c;
    font-size: 1.5rem;
    font-family: var(--font-family);
    font-weight: bolder;
    /* width: 62.56px;
    height: 16.02px; */
  }
  
  .sav__navbar-links_container {
    display: flex;
    flex-direction: row;
  }
  
  .sav__navbar-sign {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  
  .sav__navbar-links_container p,
  .sav__navbar-sign p,
  .sav__navbar-menu_container p {
    color: #282812;
    border: #ffffff;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    text-transform: capitalize;
  
    margin: 0 1rem;
    cursor: pointer;
  }
  .avatar{
    border-radius: 50%;
    height: 2.5rem;
    width: 2.5rem;
    background-color: #ffffff;
   
  }
  .avatar p, img{
    padding: 0;
    margin-right: 0;
  }
  
  .avatar-div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  
  .sav__navbar-sign button,
  .sav__navbar-menu_container button {
    padding: 0.5rem 1rem;
    color: #fff;
    background: #a8e1a6;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .sav__navbar-menu {
    margin-left: 1rem;
  
    display: none;
    position: relative;
  }
  
  .sav__navbar-menu svg {
    cursor: pointer;
  }
  
  .sav__navbar-menu_container {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
  
    text-align: end;
    background: var(--color-footer);
    padding: 2rem;
    position: absolute;
    right: 0;
    top: 40px;
    margin-top: 1rem;
    min-width: 210px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  }
  
  .sav__navbar-menu_container p {
    margin: 1rem 0;
  }
  
  .sav__navbar-menu_container-links-sign {
    display: none;
  }
  
  @media screen and (max-width: 1050px) {
    .sav__navbar-links_container {
      display: none;
    }
  
    .sav__navbar-menu {
      display: flex;
    }
  }
  
  @media screen and (max-width: 700px) {
    .sav__navbar {
      width: 100%;
    }
    .sav__navbar {
      padding: 2rem 4rem;
    }
  }
  
  @media screen and (max-width: 550px) {
    .sav__navbar {
      padding: 2rem;
    }
  
    .sav__navbar-sign {
      display: none;
    }
  
    .sav__navbar-menu_container {
      top: 20px;
    }
  
    .sav__navbar-menu_container-links-sign {
      display: block;
    }
  }