html {
    scroll-snap-type: y mandatory;
    position: relative;
  }
  
  .App {
    
    display: grid;
    place-items: center;
    height: 90vh;
    background-color: rgb(93, 93, 92);
    color: #fff;
    z-index: -1;
    position: absolute;
    top: 81px;
    right: 1px;
    left: 1px;

  }
  
  .insta-logo {
    width: 20%;
    max-width: 200px;
  }
  
  .video-container {
    position: relative;
    height: 85vh;
    width: 70%;
    max-width: 500px;
    border-radius: 20px;
    background-color: white;
    overflow: scroll;
    scroll-snap-type: y mandatory;
    scrollbar-width: none;
  }
  
  /* for chrome and opera */
  .video-container::-webkit-scrollbar {
    display: none;
  }
  