.video-player {
    height: 100%;
    width: 100%;
  }
  
  .video-cards {
    position: relative;
  }
  
  video {
    width: 100%;
    height: 100%;
    scroll-snap-align: start;
    /* position: relative; */
  }
  